<link rel="stylesheet" href="css/main.css">
<link 
href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
rel="stylesheet"> 

<footer>
    <div id="footer">
        <hr>
        <b>*********** Trường ĐẠI HỌC XXXXX ***********</b>
        <br>
        <p id="footer-address">Địa chỉ : Số A, đường B, quận C, thành phố D</p>
        <p id="footer-contact">Liên hệ : 0123-456-789</p>
    </div>
</footer>