<link rel="stylesheet" href="css/main.css">

<div id="login-header-container">
    <div id="login-upper-border"></div>
    <div id="login-header-panel">
        CỔNG THÔNG TIN QUẢN LÝ ĐÀO TẠO <br>
        ĐẠI HỌC XXXXX
    </div>        
</div>

