<div id="home-page-content">
    <h1>THÔNG TIN CÁ NHÂN</h1>
    <div class="information-field">
        <span>Mã số đăng nhập : </span>
    </div>

    <div class="information-field">
        <span>Mật khẩu : </span>
        <button>ẩn mật khẩu</button>
    </div>

    <div class="information-field">
        <span>Họ tên : </span>
    </div>

    <div class="information-field">
        <span>Số điện thoại : </span>
    </div>

    <div class="information-field">
        <span>Email : </span>
    </div>

    <div class="information-field">
        <span>Địa chỉ : </span>
    </div>
</div>