<a href="/student/home_page">Trang chủ</a>
<a href="/student/schedule">Thời khóa biểu</a>
<a href="/student/notice">Thông báo</a>
<a href="/student/summary">Tổng kết</a>
<a href="/login/logout">Đăng xuất</a>
