<h1>Thời gian còn lại của cuộc điểm danh</h1>
<h2>Mã lớp XXX - môn học ZZZZ</h2>
<p id="countdown-clock"></p>


<script>
    var time_string = '<%- now %>';
    var now = parseInt(time_string)

 </script>
